#root {}

.container {padding: 30px 60px}

header {
  background-color: #282c34;
  min-height: 8vh;
}

.link {
  color: #61dafb;
  margin-right: 30px;
  font-size: 24px;
}
.link.active{text-decoration-line: none}

button {
  padding: 10px;
  margin-right: 15px ;
  border: none;
  border-radius: 12px;
  min-width: 200px;
  color: white;
  font-size: 18px;
}

.connect-wallet-btn {
  background: dodgerblue;
  float: right;
  margin-top: -5px;
}

.contract-btn {background: darkorange}
button a{color: white;}

.error {background: darkred}
.success {background: darkgreen}
.inactive {background: dimgrey}